.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	overflow-x: scroll;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
}

.center {
	width: 100%;
	margin: 0 auto;
	padding: 0rem;
	height: 100vh;
	z-index: auto;
}