.header {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-grow: 1;
  width: 100%;
  margin-top: 0px;
  min-height: 50px;
  max-height: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 0.5px solid var(--border-color);
  background: var(--gradient-color-top);
  border: 1px solid transparent;
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
}

.header_logo_container {
  display: inline-flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.header_logo {
  font-size: 26px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.header_sublogo {
  align-items: right;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 7px;
  padding: 0;
}

.header_icon_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header_icon_container > svg {
  margin-left: 1.15rem;
}
