@import url('tailwindcss/base');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');

@font-face {
  font-family: Header; /* You can name it however you want */
  src: url('/fonts/Berthold Akzidenz Grotesk Medium Extended.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, menlo, monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-sans: ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont,
    'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --background-color: #000000;
  --gradient-color-top: linear-gradient(
    to bottom,
    #fff,
    rgb(255 255 255 / 50%)
  );
  --gradient-color-bottom: linear-gradient(
    to top,
    #fff,
    rgb(255 255 255 / 50%)
  );
  --border-color: #c1b8b8f3;
  --light-border-color: #dededef3;
  --miniplayer-color: #114dfff4;
  --miniplayer-card-color: hsl(0deg 0% 0% / 73.2%);
  --progress-bar-color: rgb(0 0 0 / 50%);
  --text-color: #000;
  --text-color-inverted: #fff;
  --light-color: #626262;
  --hover-color: #00000016;
  --svg-fill: #000;
  --svg-stroke: black;
  --box-shadow: 0 0 14px 2px rgb(98 96 255);
  --card-color: grey;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #06060c; /* Dark theme */
    --border-color: rgb(255 255 255 / 5%);
    --gradient-color-top: linear-gradient(to bottom, #101010, rgb(0 0 0 / 25%));
    --gradient-color-bottom: linear-gradient(to top, #0f0f0f, rgb(0 0 0 / 25%));
    --light-border-color: #ffffff3a;
    --miniplayer-color: #3815d5e7;
    --miniplayer-card-color: #1d48f2f4;
    --progress-bar-color: rgb(255 255 255 / 25%);
    --text-color: #fff;
    --text-color-inverted: #fff;
    --light-color: #fff;
    --hover-color: #ffffff14;
    --svg-fill: white;
    --svg-stroke: white;
    --box-shadow: 0 0 14px 2px rgb(8 12 135);
    --card-color: transparent;
  }
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  color: rgb(var(--background-color));
  background: var(--background-color);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

path {
  stroke: var(--svg-fill);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  path {
    stroke: var(--svg-fill);
  }
}

/* Header Animation */
.search-input,
.search-icon {
  transition: border-color 0.3s ease-in-out;
}

.group:hover .search-input::placeholder {
  color: white !important;
}

.group:hover .search-icon {
  color: #a0aec0;
}

.search-input:focus {
  border-color: #4c6ef5;
}

.search-input:hover {
  outline: none;
}

@keyframes expand {
  0% {
    width: 7.5rem;
  }

  70% {
    width: 24rem;
  }

  100% {
    width: 20rem;
  }
}

.animating .search-input {
  animation: expand 0.5s ease-in-out forwards;
}

@keyframes expand {
  0% {
    width: 12.5rem;
  }
  30% {
    width: 25rem;
  }
  70% {
    width: 22.5rem;
  }
}

@keyframes shrink {
  0% {
    width: 22.5rem;
  }
  30% {
    width: 12.5rem;
  }
  70% {
    width: 15rem;
  }
}
