.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
};

.header_logo {
  font-size: 28px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 999;
}

.center {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  height: 100%;
  position: absolute;
  overflow: auto;
  z-index: auto;
}

.center::before,
.center::after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
}

.center .notification {
  display: flex; /* Add display:flex */
  justify-content: center;
  align-items: center;
  height: 25px; /* Add height: 100% */
}

.center .notification p {
  margin: 0;
  color: var(--text-color);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 500; /* Add text-align:center */
}

.center .container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow: hidden;
}

.center p {
  word-break: break-all;
  margin: 0.5rem;
}

.footer {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0;
  height: 60px;
  border-top: var(--border-color);
  padding-top: 5px;
  background-color: var(--gradient-color) !important;
  backdrop-filter: blur(10px);
}


.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2
}