body {
  background-color: red !important; /* temporary, just to see if CSS is being applied */
}

/* In your global CSS file */
.search-input,
.search-icon {
  transition: border-color 0.3s ease-in-out;
}

.group:hover .searchInput::placeholder {
  color: white !important;
}

.group:hover .search-icon {
  color: #A0AEC0;
}

.searchInput:focus {
  border-color: #4C6EF5;
}

.searchInput:hover {
  outline: none;
}

@keyframes expand {
  0% {
    width: 7.5rem;
  }
  70% {
    width: 24rem;
  }
  100% {
    width: 20rem;
  }
}

.animating .searchInput {
  animation: expand 0.5s ease-in-out forwards;
}