.reset_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: auto;
  padding: 0px;
  margin: 0 auto;
  padding-top: 60px;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.subheading {
  font-size: 0.9rem;
  color: grey;
  width: 90%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 10px;
  align-items: center;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.heading {
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
  text-overflow: center;
  margin-bottom: 10px;
}

.subheading {
  font-size: 0.85rem;
  color: grey;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.email_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.input {
  width: 100%;
  background-color: transparent;
  align-items: left;
  color: grey;
  font-size: 0.95rem;
  border: 1px solid grey;
  padding: 18px 10px;
  border-radius: 5px;
}

.input:hover {
  border: 1px solid rgb(255, 123, 0);
}

.reset2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 270px;
  height: auto;
}

.continue_button {
  width: 100%;
  background-color: rgb(255, 123, 0);
  color: white;
  font-size: 1rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
}

.signin_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 0.85rem;
  margin-bottom: 20px;
}

.signin_link {
  color: rgb(255, 123, 0);
  margin-top: 20px;
}


.terms_and_policy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  font-size: 0.8rem;
  color: grey;
  background-color: transparent;
  padding: 30px 10px 10px 10px;
  margin-top: 157px;
}

.terms_and_policy_text {
  color: grey;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.terms_and_policy_text a {
  color: rgb(255, 123, 0);
  align-items: center;
}

.continue_button:hover,
.link:hover,
.signin_link:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Path: src/styles/pages/login/Login.module.css */
