.footer_container {
  color: #fff;
  margin: 0;
  padding: 0;
  border-top: 1px solid grey;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.footer_logo_container {
  width: 100%;
}

.footer_logo {
  font-size: 2rem;
  align-items: left;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px 0px;
  padding: 0;
  width: 100%;
}

.footer_directory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.footer_directory_container {
  flex: initial;
  margin-bottom: 40px;
  max-width: 600px;
}

.footer_category {
  font-size: 1rem;
  color: grey;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer_category_list {
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_category_list li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.footer_category_list li a:hover {
  color: #aaa;
}

.footer_footer {
  width: 100%;
}

.footer_footer_container {
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer_footer_text {
  color: grey;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}